/*==========================================
                Button Styling
   =========================================*/

html {
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

:root{
    --font-family: 'karla,sans-serif';
    --body-bg: #1e1f25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

.start{
    display: flex;
    justify-content: center;
    background-color: var(--body-bg);
    height: 100vh;
    width: 100%;
    align-items: center;
}

.btn{
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-size: 16px;
    padding: 1.2rem 1rem;
    letter-spacing: 0.1rem;
    border: none;
}

.btn:hover {
    color: var(--btn-color-hover);
    transform: scale(1.05);
}

.button-box {
    padding: 2.3px;
    background: linear-gradient(115deg,#eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
}

.button-box:hover {
    background: linear-gradient(230deg,#eeaf61, #fb9062, #ee5d6c, #ce4993, #6a0d83);
}

.button-box:hover .btn{
    color: var(--btn-color-hover);
    padding: 1.1em 1.2em;
}

/*================================================
              Toggle Button Styling
==================================================*/

.toggle-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toggle-input {
    
}

label {
    width: 100px;
    height: 40px;
    border: 3px solid #cbcbcb;
    border-radius: 40px;
    padding: .25em;
}

.toggle-switch {
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 50%;
    transition: all .5s;
   
}

.toggle-input:checked ~ .toggle-switch {
    
    transform: translateX(calc(100px -40px));
}