/*=======================================================
                        STYLING
=========================================================*/

html {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

/*====================================================
                searchBar Expansion
======================================================*/

.search-box {
    padding: 10px;
    margin: 5rem 5rem;
}

.search {
    padding: 0.5rem;
    border-radius: 1rem;
    line-height: 2;
    border-width: 3px;
    border-color: rgba(17, 17, 18, 0.367);
    transition: all .3s;
}
.hide {
    border: 0;
    clip: rect(0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.search:focus {
    width: 100%;
    border-color: blue;
    
}

.search::placeholder{
    font-weight: 200;
}

.search:focus::placeholder {
    color: transparent;
 }

/*==============================================
                Card Styling
===============================================*/

:root {
    --font-main: 'Noto Sans', sans-serif;
    --bg-main:#131417;
    --bg-card: #131f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}

.screen-box {
    background-color: var(--bg-card);
    padding: 5rem 2rem;
    margin: 50px;
    margin: 2em auto;
    max-width: 300px;
    max-height: 320px;
    margin-bottom: 5rem;
    border-radius: 3em;
}

.screen-p img{
  width: 300px;
  height: 300px;
  margin-bottom: 0.7rem;
  border-radius: 0.6rem;
  object-fit: cover;
}

.icon-p img{
  width: 40px;
  height: 40px;
  border-radius: 1rem;
  object-fit: cover;
}

.subs {
    display: flex;
    gap: 1rem;
}

.icon-info h3{
    color: white;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
}

.icon-info p{
    color: var(--username);
    padding: 0;
    margin: 0;
}

.card-stats {
    display: none;
    gap: 1em; 
     
}

.card-stats li{
    background-color: var(--bg-stats);
    color: white;
    list-style-type: none; 
}

.screen-box:hover .card-stats{
    display: flex;
}

/*================================================
                    Circle Card
==================================================*/

.card-container {
    background: var(--bg-card);
    margin: 5em auto;
    max-width: 250px;
    max-height: 400px;
    padding: 2rem 1rem;
}

.card-p img{
    width: 240px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #b7b7b7;
}

.card-info {
    margin: none;
}

.card-info h2 {
    color: white;
}

.card-info h2,
.card-info h3 {
    margin: 0;
}

.card-info h3 {
    color: #585a5ffe;
    font-weight: 600;
}

.card-info p {
    color: #b7bbc8;
}

.button {
   padding: 1px;
   background: #b7bbc8;
}

.btn {
    width: 200px;
    height: 20px;
    background: #585a64;
    color: #b7bbc8;
    border-radius: .2em;
    margin-left: 2em;
    
}

.btn:hover {
    background: #181819;
    transform: scale(1);
}